body {
background-color: #000000;
color: #fff;
}

/* style of the nav bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #000000;
    color: #fff;
  }

.logo img {
   size: 1%;
}
/* style of the nav links */
nav ul {
    display: flex;
    min-width: 300px;
    list-style-type: none;

}

nav a {
    text-align: center;
    padding: 12px 12px;
    color: white;
    font-size: 18px 
    text-decoration: none;

}
