body {
background-color: #000000;
color: #fff;
padding: 40px;
margin: auto;
font-family: 'Roboto', sans-serif;
}

/* style of the nav bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #000000;
    color: #fff;
    }

.logo img {
  
}
/* style of the nav links */
nav ul li {
    display: inline-block;
    /* min-width: 300px; */
    list-style-type: none;
    padding: 10px 25px;

}

nav a {
    /* text-align: center; */
    /* padding: 12px 12px; */
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
  color: #cbf511;  
}
/* sections CSS */

.wrapper {
    margin: 150px auto;
    width: 70%;
}

.headshot {
    float: left;
    max-width: 300px;
    margin-right: 20px;
    
}

.aboutme {
    color: #fff;

}

.about h2 {
    font-size: 42px;
    margin-top: 100px;

}

.about p{
    font-size: 16px;
    font-weight: 300;
}

button {
    background-color: #cbf511;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 25px;
}




footer {
    font-weight: 300;
    margin-top: 60px;
}

/* Portfolio application section */
.container {
    margin: 20px;
    width: 60%; 
    display: flex
} 

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.image-1 {
    background: white;
    position: relative;
    flex: 1;
    padding: 5px;
    /* max-width: 800px; */
    height: 300px;
   
    overflow: hidden;
}

.image-1 img {
    position: relative;

}

.image-1 .details {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;

}

.image-1 .details h2{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 125px;

}

.image-1 .details p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;

}

.image-1 :hover {
    color: #cbf511;
}

/* row 2 & 3  */

/*  container contorls the childern styles in the container*/
.container-2{
    display: flex;
    flex-direction: row;
    justify-content: center;

} 

.row-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.image-2 {
    background: white;
    position: relative;
    flex: 1;
    padding: 5px;
    /* width: 300px;  */
    height: 200px;
    
   
}

.image-2 img {
    position: relative;
    vertical-align: top;

}

.image-2 .details {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.image-2 .details h2{
    text-align: center;
    font-size: 24px;
    font-weight: 500px;
    margin-top: 50px;
}
.image-2 .details p{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top: none; 
}

.image-2 :hover {
    color: #cbf511;
}
/* contact section */

.contact ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.contact ul li{
    color: #fff;
    text-decoration: none;
}

.contact a{
    color: #fff;
    text-decoration: none;
}


.contact li a:hover{
    color: #cbf511;
}